<div>
<br><br>
<h2>Log In</h2>

<%= render 'layouts/flash' %>

<%= form_for :sessions do |f| %>
    <div>
    Username: 
    <%= f.text_field :username %><br>
    </div><br>
    <div>
    Password: 
    <%= f.password_field :password %><br>
    </div><br>
    <%= f.submit "login" %><br>
<% end %><br>

Or <%= link_to(controller: 'users', action: 'new') { 'sign up' } %>

</div>
