<div>
<h1><%= @god.gender == "Male" ? "The God #{@god.name}" : "The Goddess #{@god.name}" %></h1>

<%= image_tag(@god.img_url, height: '500') %><br>
<br>

<h3>Gender:</h3>
<%= @god.gender %><br>
<br>

<h3>Affinity:</h3>
<%= @god.affinity %><br>
<br>

<h3>Bio:</h3>
<%= link_to "About #{@god.name}", "#{@god.bio_link}" %><br>
<br>

<h3>Demigod Children</h3>
<% if @heroes.count == 0 %>
    None<br>
<% else %>
    <ul class="list-inline text-center">
    <% @heroes.each do |hero| %>
        <li class="list-inline-item">
        <% if hero.user == current_user %>
            <%= link_to hero.name, hero %>
        <% else %>
            <%= hero.name %>
        <% end %>
        </li>
    <% end %>
    </ul>
<% end %>

<%= form_for @god, url: generate_hero_path, method: :post do |f| %>
    <%= f.hidden_field :id %>
    <% if @god.gender == "Male" %>
        <%= f.submit "Father a Hero" %>
    <% else %>
        <%= f.submit "Give Birth to a Hero" %>
    <% end %>
<% end %><br>
</div>
<br>