<h1 class="text-center">Welcome <%= @user.full_name %>!</h1>

<h3 class="text-center">See Your <%= link_to "Heroes", heroes_path %></h3>
<h3 class="text-center">See Info About <%= link_to "Gods", gods_path %></h3>
<h3 class="text-center">Create a <%= link_to "new Hero", new_hero_path %></h3>
<h3 class="text-center">Start a Hero's <%= link_to "Battle", new_battle_path %></h3>
<h3 class="text-center">See Your Ranking Compared to <%= link_to " Other Users", users_path %></h3>
<h3 class="text-center">Edit Your <%= link_to "Profile", edit_user_path(current_user) %></h3>