<div>
<h2>Sign Up</h2>

<%= render 'layouts/flash' %>

<%= form_for @user, controller: 'users', action: 'create' do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
    <%= f.submit "Create Account" %><br>
<% end %>
Or <%= link_to(controller: 'sessions', action: 'new') { 'login' } %>
</div>
