<div>
<h1>A New Battle!</h1>

<%= render 'layouts/flash' %>

<%= form_for @battle do |f| %>
    <% if @hero %>
        Hero: <%= @hero.name %><br>
    <% else %>
        <%= f.label "Hero: " %>
        <%= f.collection_select :hero_id, @heroes, :id, :name %><br>
    <% end %>

    <h5>Battles</h5>

    <%= f.label "Monster: " %>
    <%= f.collection_select :monster_id, @monsters, :id, :name %><br>

    <h5>At</h5>

    <%= f.label "Location: " %>
    <%= f.text_field :location %><br>

    <%= f.submit "Battle" %>
<% end %>
</div>
