<div>
<h2>Create a New Hero</h2><br>

<%= render 'layouts/flash' %>

<%= form_for @hero, url: heroes_path do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
    <%= f.submit "Create Hero" %>
<% end %>
<br>
Or <%= button_to "auto-generate a new hero", generate_hero_path, method: :post %>
</div>