<div>
<h1><%= @hero.name %></h1>

<h3>Age:</h3>
<%= @hero.age %><br>

<h3>Affinity:</h3>
<%= @hero.affinity %><br>

<h3>Godly Parent:</h3>
<%= @hero.god.name %><br>

<h3>Monsters defeated:</h3>
<% if @monsters.count == 0 %>
    None
<% else %>
    <ul class="list-inline text-center">
    <% @monsters.each do |monster| %>
        <li class="list-inline-item">
            <%= link_to monster.name, monster %>
        </li>
    <% end %>
    </ul>
<% end %>

<h3>Living:</h3>
<%= @hero.alive %><br>
<br>

<% if !@hero.alive %>
    <h3>Defeated By:</h3>
    <%= @hero.monsters.last.name %><br>
    <br>
<% end %>

<% if @hero.alive %>
    <%= form_for @hero, url: new_battle_path, method: :get do |f| %>
        <%= f.hidden_field :id %>
        <%= f.submit "Battle a Monster" %>
    <% end %><br>
<% end %>

<%= button_to "Delete Hero", hero_path(@hero), method: :delete %><br>

<%= button_to "Edit Hero", edit_hero_path(@hero), method: :get %>
</div>
<br>