<h1><%= @hero.name %></h1>

<h3>Age:</h3>
<%= @hero.age %>

<h3>Affinity:</h3>
<%= @hero.affinity %>

<h3>Godly Parent:</h3>
<%= @hero.god.name %>

<h3>Monsters defeated:</h3>
<% if @hero.monsters.count == 0 %>
    None
<% else %>
    <ul>
    <% @hero.monsters.each do |monster| %>
        <li><%= monster.name %></li>
    <% end %>
    </ul>
<% end %><br>
<br>

<%= button_to "Battle a Monster", new_battle_path, method: :get %><br>
<%= link_to "Edit Hero", edit_hero_path(@hero) %>