<div>
<h1><%= @hero.name %></h1>

<h3>Age:</h3>
<%= @hero.age %>

<h3>Affinity:</h3>
<%= @hero.affinity %>

<h3>Godly Parent:</h3>
<%= @hero.god.name %>

<h3>Monsters defeated:</h3>
<% if @hero.monsters.count == 0 %>
    None
<% else %>
    <ul class="list-inline text-center">
    <% @hero.monsters.each do |monster| %>
        <li class="list-inline-item">
            <%= link_to monster.name, monster %>
        </li>
    <% end %>
    </ul>
<% end %>

<h3>Living:</h3>
<%= @hero.alive %><br>
<br>

<% if @hero.alive %>
    <%= button_to "Battle a Monster", new_battle_path, method: :get %><br>
<% end %>

<%= button_to "Delete Hero", hero_path(@hero), method: :delete %><br>

<%= link_to "Edit Hero", edit_hero_path(@hero) %>
</div>
